.dashboard-container {
  padding: 20px;
  font-family: Arial, sans-serif;
  height: 100vh;
}

.error-msg {
  color: red;
  text-align: center;
  margin: 10px 0;
}

.list-container-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
