.list-selection{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}
.list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eee;
  padding: 8px;
  background-color: #ffffff;
  border-radius: 1rem;
  margin-bottom: 1rem;
}
button {
  padding: 10px 20px;
  background-color: #1e90ff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #005ecb;
}

.arrows button {
  background-color: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
  margin: 0 4px;
  padding: 5px;
}

.arrows button:hover {
  color: #1e90ff;
}

.list-item-info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 0.5rem;
}

.list-name {
  font-size: medium;
  font-weight: 600;
}

.list-description {
  font-size: small;
}
