.list-header{
    margin: 1rem 0;
}
.actions{
    margin-bottom: 1rem;
}
button {
  padding: 10px 20px;
  background-color: #1e90ff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #005ecb;
}

@media screen and (max-width: 768px) {
  .list-container-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .list-box {
    width: 90%;
  }

  .actions {
    flex-direction: column;
  }
}
